*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
html,body{
    height: 100%;
    width: 100%;
}
#main{
    height: 100%;
    width: 100%;
    background-color:#fff;
}

#nav{
    display: flex;
    justify-content: center;
    justify-content:space-between;
    align-items: center;
    width: 100%;
    height: 100px;
}
#nav h3{
    line-height: 15px;
    padding-left: 20px;

}

#links a{
    margin-left: 30px;
    text-decoration: none;
    color: #000;
    opacity: 0.5;
    
}
#links a:hover{
    opacity: 1;
}
#menu {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(210, 202, 202);
    height: 100%;
    width: 80px;
}
#center{
    display: flex;
    gap:10px;
    margin-top: 20px;
    background-color:#fff;
    height: 80%;
    width: 100%;
    padding-left: 80px;
    padding-right: 80px;
    /* justify-content: space-between; */

}
#cl1{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    /* left: 10%; */
    height: 100%;
    width: 25%;
}
#cl1elm1{
    height: 49%;
    width: 100%;
    background-color: yellow;
    background-image: url(./image1.avif);
    background-size: cover;

}
#cl1elm2{
    background-color: green;
    height: 49%;
    width: 100%;
    background-image: url(./image2.avif);
    background-size: cover;
    padding: 10px 10px;
    filter: saturate(1.5);
}
#cl1elm2 h3{
    border-radius: 10px;
    position: absolute;
    font-size: 15px;
    padding: 5px 5px;
    background-color: rgb(206, 232, 61);
}
#cl2{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 40%;
}
#cl2elm1{
    height: 49%;
    width: 100%;
    background-image: url(./image3.avif);
    background-size: cover;
    padding: 10px 10px;
    filter:contrast(1) ;
    filter: saturate(1.5);
    
}
#cl2elm1 h4{
    font-size: 1vw;
    background-color: rgba(90, 222, 90, 0.862);
    position: absolute;
    padding: 5px 5px;
    border-radius: 10px;
    
}
#cl2elm1 h4 span{
    font-size: 15px;
    font-weight: 900;
}
#cl2elm2{
    height: 49%;
    width: 100%;
    background-image: url(./image4.avif);
    background-size: cover;
    filter: contrast(3);
    filter:saturate(3);
}
#cl3{
    width: 30%;
    height: 100%;
    background-image: url(./image5.avif);
    background-size: cover;
    filter: contrast(1);
    filter: saturate(1.5);
}
#cl4{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 30%;
    
}
#cl4elm1{
    background-color:yellowgreen;
    height: 49%;
    width: 100%;
    background-image: url(./image6.avif); 
    background-size: cover;
    padding: 30px 30px;
    filter: contrast(1);
    filter: saturate(1);
}
#cl4elm1 p{
    border-radius: 5px;
    padding: 10px 20px;
    position: absolute;
    font-weight: 500;
    color: #fff;
    background-color:rgb(237, 52, 104);
}
#cl4elm2{
    background-color:rgb(0, 123, 255);
    height: 49%;
    width: 100%;
    background-image: url(./image7.avif);
    background-size: cover;
}


